body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #fff); /* Adjust gradient colors as needed */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}



.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.blog-post {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    transition: background-color 0.3s;
    align-items: center; /* Vertically center items within the container */
}

.blog-post:hover {
    background-color: #f9f9f9; /* Change the background color on hover */
}

.blog-post img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.blog-content {
    flex: 1;
}

.blog-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.blog-excerpt {
    font-size: 16px;
}

.read-more {
    text-align: right;
    margin-top: 10px;
}

.read-more a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s ease-in-out, background-color 0.3s;
}

.read-more a:hover {
    transform: scale(1.1);
    background-color: #555; /* Change background color on hover */
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00000000;
    color: #fff;
    padding: 30px 90px 30px 90px;
}

.number-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    font-size: 36px;
    margin: 0;
    transform: translateY(-50px);
    opacity: 0;
    animation: count-up 1.5s ease-out forwards;
}

.text {
    font-size: 18px;
    margin: 10px 0;
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
}

@keyframes count-up {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}